extends ../../layouts/admin

block head
  title Places / Details

block neck
  link(rel='stylesheet', href='/views/places/details.min.css?#{cacheBreaker}')

block feet
  script(src='/views/places/details.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-xs-12
      div#header
      div#details
      div#delete

  script(type='text/template', id='tmpl-header')
    div.page-header
      h1
        a(href='/places/') Places
        |  / <%- name %>

  script(type='text/template', id='tmpl-details')
    fieldset
      legend Details
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
        |<% if (success) { %>
        div.alert.alert-info.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          | Changes have been saved.
        |<% } %>
      input(type='hidden', name='pivot', value='place')
      input(type='hidden', name='lat', value='')
      input(type='hidden', name='lng', value='')
      div.form-group(class!='<%- errfor.name ? "has-error" : "" %>')
        label Name:
        input.form-control(type='text', name='my-name', value!='<%- name %>')
        span.help-block <%- errfor.name %>
      div.control-group(class!='<%- errfor.address ? "has-error" : "" %>')
        label.control-label address:
        input.form-control(type='text', name='address', value!='<%- address %>')
        span.help-block <%- errfor.address %>
      div.form-group
        button.btn.btn-primary.btn-update(type='button') Update

  script(type='text/template', id='tmpl-delete')
    fieldset
      legend Danger Zone
      div.alerts
        |<% _.each(errors, function(err) { %>
        div.alert.alert-danger.alert-dismissable
          button.close(type='button', data-dismiss='alert') &times;
          |<%- err %>
        |<% }); %>
      div.form-group
        span.help-block
          span.label.label-danger If you do this, it cannot be undone.
      div.form-group
        button.btn.btn-danger.btn-delete(type='button') Delete

  script(type='text/template', id='data-record') !{data.record}
