extends ../layouts/default

block head
  title Collect places you enjoy

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  div.jumbotron
    br
    br
    br
    br
    if !user || !user.username
      p.lead
        | Aethiopica is a simple app for collecting places you enjoy
        div
          a.btn.btn-warning.btn-lg(href='/login/') Sign In
          |  or&nbsp;
          a.btn.btn-primary.btn-lg(href='/signup/') Create an Account
        div.clearfix
    else
      a.btn.btn-primary.btn-lg(href='/places/') Check out your places